<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/vue-2.4.0.js"></script>
    <script src="/assets/js/vue-resource-1.3.4.js"></script>
    <script src="/assets/js/jquery.qrcode.js"></script>
    <script src="/assets/js/qrcode.js"></script>
    <!-- load bootstrap css -->

    <style type="text/css">
        #app {
            width: 1400px;
            height: auto;
            margin: 0 auto;
            margin-top: 20px;
            overflow-x: auto;
        }
        .table-bordered>tbody>tr>td,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>td,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th {
            text-align: center
        }
        .panel-title {
            text-align: center
        }
        .table-bordered>tbody {
            overflow-x: auto
        }
        .body-box {
            height: auto;
            width: 100%;
            margin: 0 auto;
            margin-top: 20px;
        }
        .ul1 li {
            line-height: 40px;
        }
        td {
            height: 100%;
            line-height: 100%;
            position: relative
        }
        .mh-form1 {
            width: 1200px;
            height: 200px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .addPhoto {
            width: 200px;
            height: 200px;
            oveerflow: hidden;
        }
        .qrcode {
            width: 200px;
            height: 200px;
            overflow: hidden;
            position: absolute;
            top: 7px;
            left: 0;
        }
        .mhtable td {
            height: 200px!important;
            line-height: 200px!important;
        }
        .clickotc{
            height: 40px!important;
            line-height: 60px!important;
        }

        .btn1{
            background: #66b1ff;
            border: 0;
            color: #fff;
        }
    </style>
    <script src="../../../otcback/web.js"></script>
</head>

<body>
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">用户信息</h3>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Coin</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <%= user.playerid %>
                </td>
                <td>
                    <%= user.username %>
                </td>

                <td>
                    <%= user.coin %>
                </td>
            </tr>

            </tbody>
        </table>

    </div>

    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">购买ETH直接充值</h3>
            </div>

            <select id="clickotctype" >
                <option value ="0">请选择币种</option>
                <option value ="ccn">CCN</option>
            </select>
            <select id="clickotcvalue" >
                <option value ="0">请选择充值金额</option>
                <option value ="100">100</option>
                <option value="300">300</option>
                <option value="500">500</option>
            </select>
            <a  id="clickotcid" class="clickotc" onclick="gotootc()"> 点击跳转购币充值界面 </a>
        </div>
    </div>



    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">加密币充值地址和汇率</h3>
            </div>

            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>地址</th>
                    <th>兑换率</th>
                    <th>二维码</th>
                </tr>
                </thead>
                <tbody class="mhtable" v-for="(item,key,i) in list1">
                <tr>
                    <div>
                        <td>{{key}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.fiatRate}}</td>
                        <td class="addPhoto" :id="i" v-on:click="toShow(item.address,i)" :isClick="true" ref="mybox">获取二维码</td>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">链上充值确认中</h3>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <th>币种</th>
                <th>交易号</th>
                <th>付款地址</th>
                <th>数量</th>
                <th>确认块数</th>
                <th>需要块数</th>

                </thead>
                <tbody v-for="(item,key,i) in list2">

                <tr v-for="(item2,key2,i) in item">
                    <div>
                        <td>{{key}}</td>
                        <td>{{key2}}</td>
                        <td v-for="(item3,key3,i) in item2">{{item3}}</td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">充值记录</h3>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <th>ID</th>
                <th>交易号</th>
                <th>币种</th>
                <th>数量</th>
                <th>时间</th>
                <th>法币</th>
                <th>法币汇率</th>
                <th>Coin数量</th>
                </thead>
                <tbody>
                <tr v-for="item in list5">
                    <td>{{item.id}}</td>
                    <td>{{item.txid}}</td>
                    <td>{{item.cryptotype}}</td>
                    <td>{{item.cryptovalue}}</td>
                    <td>{{item.createtime}}</td>
                    <td>{{item.fiatcurrency}}</td>
                    <td>{{item.fiatrate}}</td>
                    <td>{{item.virtualvalue}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">兑出请求</h3>
            </div>
            <div class="panel-body">
                目的地址:<input type="text" name="uname" v-model="toaddress">

                币种:<input type="text" name="cryptoType" v-model="cryptoType">

                Coin数量:<input type="number" name="amount" v-model="amount">

                <button class="btn1" style="margin-bottom: 10px;"  type="button" v-on:click="insertData">兑换</button>
            </div>
        </div>
    </div>

    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">兑出记录</h3>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <th>ID</th>
                <th>交易号</th>
                <th>币种</th>
                <th>币值</th>
                <th>创建时间</th>
                <th>Coin值</th>
                <th>目标地址</th>
                <th>状态</th>
                </thead>
                <tbody>
                <tr v-for="item in list4">
                    <td>{{item.id}}</td>
                    <td>{{item.txid}}</td>
                    <td>{{item.cryptotype}}</td>
                    <td>{{item.cryptovalue}}</td>
                    <td>{{item.createtime}}</td>
                    <td>{{item.coinamount}}</td>
                    <td>{{item.toaddress}}</td>
                    <td>{{item.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="body-box">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">法币加密币汇率</h3>
            </div>
            <div class="panel-body">
                法币:
                <select name="getrates" v-model="selected">
                    <option v-for="option in options" v-bind:value="option.getrates">
                        {{option.getrates}}
                    </option>
                </select>

                <button class="btn1" type="button" v-on:click="insertData2">查询</button>

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <th>加密币种</th>
                    <th>兑换比例</th>
                    </thead>
                    <tbody v-for="(item,key,i) in list3">
                    <tr>
                        <div>
                            <td>{{key}}</td>
                            <td>{{item}}</td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    var arr = "";
    var playerId = "<%= user.playerid %>";
    var createobj = $("<div class='qrcode'></div>");
    var obj1 = {};
    var listArr = document.getElementsByClassName("qrcode");
    console.log(listArr);

    var baseurl = ''
    var vm = new Vue({
        el: '#app',
        data() {
        return {
            list1: [],
            list2: [],
            list3: [],
            list4: [],
            list5: [],
            selected: 'usd',
            toaddress: '',
            cryptoType: '',
            amount: '',
            options: [
                {
                getrates: "usd"
                },
                {
                getrates: "cny"
                }
            ],
            infoArr: [],
            obj: {},
            id: "",
            isClick: "",
            goodsvalueslist: [
                100,
                200,
                300,
                500,
                1000,
            ],
        }
    },
    mounted() {
        var _this = this;
        this.$http.get('/useraddress?playerid=' + playerId).then(function(result) {
            _this.list1 = result.body;
        })
        this.$http.get('pendingdeposits?playerid=' + playerId).then(function(result) {
            _this.list2 = result.body;
        })
        this.$http.get('/withdrawlist').then(function(result) {
            _this.list4 = result.body;
            console.log(_this.list4);
        })
        this.$http.get('/depositlist').then(function(result) {
            _this.list5 = result.body;
            console.log(result.body);
        })

        this.$http.get('/openotcurl').then(function(result) {
            // _this.list5 = result.body;

            var box = document.getElementById('clickotcid');
            box.href=result.body
            baseurl=result.body
            // console.log(box);
        })



    },
    methods: {

        toShow(id, key) {
            var _this = this;
            var box = document.getElementById(key);
            var box2 = document.createElement("div");
            box2.className = "qrcode";
            box.appendChild(box2);
            $(".qrcode").qrcode({
                text: id,
                width: 200,
                height: 200
            });
        },
        insertData() {
            var _this = this;
            var url = "";
            url = "/outwithdraw?toaddress=" + this.toaddress + "&cryptoType=" + this.cryptoType + "&amount=" + this.amount;
            this.$http.get(url).then(function(result) {
                _this.list = result.body;
                console.log(_this.list)
            })
        },
        insertData2() {
            var obj = {};
            var _this = this;
            url = "/getrates?fiatName=" + this.selected;
            this.$http.get(url).then(function(result) {
                _this.list3 = result.body;
            })
        },
    }
    });


    function gotootc(){
        //alert(123)&matchtype=eth&matchone=863
        var box = document.getElementById('clickotcid');
        // box.href=result.body
        var clickotctype = document.getElementById('clickotctype');
        var clickotcvalue = document.getElementById('clickotcvalue');
        // console.log(box.href)
        var url = ''
        if(clickotctype.value!='0'){
            url= url+"&matchtype="+clickotctype.value
        }
        var backopenurl="https://www.baidu.com?m=123&n=9872"

        backopenurl=window.btoa(backopenurl)
        url= url+"&backopenurl="+backopenurl
        if(clickotcvalue.value!='0'){
            url= url+"&matchone="+clickotcvalue.value
        }

        var orderid='ord'+(new Date()).valueOf()
        url= url+"&orderid="+orderid

        box.href=baseurl+url
        console.log(box.href)
    }



</script>

</body>

</html>
